<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Car Selection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="navbar">
        <a href="/" class="logo-fixed">
            <img src="/static/images/CarFinders logo.png" alt="CarFinders Logo">
        </a>
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/pages/searchforcars.html">Found Cars</a></li>
        <li><a href="/pages/contactus.html">Contact Us</a></li>
        <li><a href="/pages/aboutus.html">About Us</a></li>
    </ul>
    </div>

    <form method="POST">
        <label>Enter a word or phrase (e.g. "cheap", "sporty", "space"):</label><br>
        <input type="text" name="keyword" required>
        <button type="submit">Search</button>
    </form>

    {% if result %}
        <h2>Found cars with keyword: "{{ keyword }}"</h2>
        {% for car in result %}
            <h3>{{ car.name }}</h3>
            <ul>
                {% for review in car.matched_reviews %}
                    <li>{{ review }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% elif keyword %}
        <p>No reviews found with this word/phrase.</p>
    {% endif %}

</body>
</html>
